# Environment variables
backend/.env

# Python virtual environment
backend/venv/

# Python cache
backend/__pycache__/
*.pyc

# Node
frontend/node_modules/

# Build
frontend/dist/

# Database
backend/*.db
database/*.db
firebase-admin.json

# Firebase Admin credentials
backend/services/firebase-admin.json
firebase-admin.json
**/firebase-admin.json